body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center;
}

